@model IEnumerable<Job_Offers_Website.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-info alert-dismissible fade show">
    <h3 class="text-left">Welcome dear visitor</h3>
    <p class="text-left">Welcome to the job search space of all kinds. You can publish a job if you are a publisher, and you can apply for a job if you are looking for a job.</p>
    <p class="text-left"><a href="http://asp.net" class="btn btn-primary btn-lg">More details &raquo;</a></p>
</div>


@foreach (var item in Model)
{
    <div class="panel panel-danger">
        <div class="panel-heading"><h1 class="text-left">@Html.DisplayFor(modelItem => item.CategoryName)</h1></div>

        <div class="row panel-body">
            <h5 class="text-left" >@Html.DisplayFor(modelItem => item.CategoryDescription)</h5>

            @foreach (var subItem in item.Jobs)
            {
                <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; min-height:380px;">
                    <img src="~/Uploads/@subItem.JobImage" />
                    <h3 class="text-left">@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
                    <h5 class="text-left">@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => subItem.JobContent).ToString()))</h5>
                    @Html.ActionLink("Details", "Details", new { JobId = subItem.Id },new { @class="btn btn-primary"})
                </div>
            }
        </div>
    </div>
}
